/* All the fonts
font-family: 'Teko', sans-serif;

*/

/* ------------------------- AUTOMO WEBSITE CSS PAGE ------------------------------- */
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.tags{
    position: absolute;
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
    font-weight: 1000;
    font-family: cooper black;
}
a{ text-decoration: none; }
a:link, a:visited { color:white }
a:hover{ text-decoration: none; color: #EDB000 }

#AutoMo, #AutoMo2{
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    margin-right: auto;
    position: absolute;
    top: -15vh;
    z-index: -100;
}
#tagline{
    width: 100%;
    position: absolute;
    top: 35vh;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: 900;
    font-size: 250%;
}
#job-slide{
    background-image: url('../Images/Example.png');
    position: relative;
    top: 50vh;
    width: 100%;
    height: 60vh;
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position-x: 0%;
    animation: service-gallary 150s linear infinite;
}
@keyframes service-gallary{
    0%      { background-position-x: 0%;}
    50%     { background-position-x: 100%;}
    100%    { background-position-x: 0%;}
}
.pics{
    position: absolute;
    top: 2.5vh;
    width: 30vw;
    height: 45vh;
    left: 67vw;
    opacity: 0;
}
@keyframes fade-out-mid{
    0%      {left: 67vw; width: 25vw; height: 40vh; top: 5vh; opacity: 0;}
    20%     {left: 35vw; width: 30vw; height: 45vh; top: 2.5vh; opacity: 1;}
    80%     {left: 35vw; width: 30vw; height: 45vh; top: 2.5vh; opacity: 1;}
    100%    {left: 3vw; width: 25vw; height: 40vh; top: 5vh; opacity: 0;}
}

/* ----------------------Navbar Styling---------------------- */
#nav_bar{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 20;
    border-bottom-color: #EDB000;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #EDB000;
    font-family: 'Teko', sans-serif;
}
#nav_table{
    height: 100%;
    z-index: 100;
}
.nav_items{
    width: 10vw;
    height: 100%;
    text-align: center;
    font-size: 1.7vw;
    padding: 2.5vh;
    position: relative;
    top: -1vh;
}
.items{
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
}


/* ---------------------Services Styling----------------------- */
#service_tag{
    top: 4vh;
    color: #EDB000;
    font-size: 3vw;
}
#service_section{
    position: absolute;
    top: 112vh;
    width: 100%;
    height: auto;
}
.services{
    width: 21vw;
    position: absolute;
    height: 35vh;
    top: 17vh;
    left: 14vw;
    border-style: solid;
    border-width: 4px;
    border-radius: 2%;
    border-color: #EDB000;
    font-family: 'Teko', sans-serif;
}
.second_services{
    width: 21vw;
    height: 35vh;
    position: absolute;
    top: 58vh;
    left: 14vw;
    border-style: solid;
    border-width: 4px;
    border-radius: 2%;
    border-color: #EDB000;
    font-family: 'Teko', sans-serif;
}
.third_services{
    width: 21vw;
    height: 35vh;
    position: absolute;
    top: 99vh;
    left: 14vw;
    border-style: solid;
    border-width: 4px;
    border-radius: 2%;
    border-color: #EDB000;
    font-family: 'Teko', sans-serif;
}
.fourth_services{
    width: 21vw;
    height: 35vh;
    position: absolute;
    top: 140vh;
    left: 14vw;
    border-style: solid;
    border-width: 4px;
    border-radius: 2%;
    border-color: #EDB000;
    font-family: 'Teko', sans-serif;
}
.service_name, .service_big_name{
    color: white;
    font-size: 250%;
    font-weight: 600;
    padding-left: 3%;
    padding-top: 2%;
}
.service_big_name{
    font-size: 180%;
}
.service_price{
    color: #EDB000;
    font-size: 45px;
    font-weight: 600;
    padding-left: 3%;
}
.service_description{
    color: white;
    font-size: 2.5vh;
    font-weight: 300;
    font-weight: 600;
}
.service_book{
    position: absolute;
    left: 57%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width: 40%;
    height: 35px;
    color: white;
    background-color: #bb8b00;
    border-radius: 2%;
    bottom: 3%;
}
.service_book:hover{
    background-color: #232323;
    color:#bb8b00;
}

#synthetic_oil, #synthetic_oil2, #synthetic_oil3, #synthetic_oil4{
    left: 39vw ;
}

#synthetic_oil_eu, #synthetic_oil_eu2, #synthetic_oil_eu3, #synthetic_oil_eu4{
    left: 64vw ;
}
.coming{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.coming_soon{
    color: white;
    font-size: 40px;
    position: relative;
    top: 40%;
    left: 30%;
}

/* ---------------ABOUT SECTION STYLING------------ */
#about_section{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 300vh;
}
#about_tag{
    top: 0;
    color: #EDB000;
}
.about{
    position: absolute;
    height: 90%;
    width: 50%;
    margin-top: 13vh
}
#right_about{
    margin-left: 50%;
    margin-right: auto;
    float: right;
    background-color: #232323;
    border-left-color: #EDB000;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #EDB000;
}
#headline{
    color: #EDB000;
    font-size: 8vh;
}
#about_text{
    color: white;
    position: relative;
    top: 5vh;
}
#phone_number{
    position: relative;
    top: 5vh;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Teko', sans-serif;
    font-weight: 900;
    line-height: 6vh;
    color: #EDB000;
}
#secret{ color: #EDB000; cursor: text;}
#secret:hover{ color: #EDB000; cursor: text;}
#secret:visited{ color: #EDB000; cursor: text;}

#left_about{
    margin-left: 0;
    margin-right: auto;
    float: left;
    background-color: #232323;
    background-size: contain, cover;
    background-image: url("../Images/instapic.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25vh;
}
#about_para{
    position: absolute;
    font-size: 3.5vh;
    width: auto;
    height: auto;
    top: 20vh;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    line-height: 4vh;
}
.instatext{
    color: #EDB000;
    font-family: 'Teko', sans-serif;
    text-align: center;
    position: relative;
    top: 8vh;
    font-size: 6vh;
    line-height: 3vh;
    font-weight: 1000;
}
#instatext2{
    font-size: 4vh;
    color: white;
    font-weight: 500;
}
#instatext3{
    font-size: 4vh;
    color: #EDB000;
    font-weight: 500;
}

/* -------------Questions STYLINGS-------------- */

#questions{
    position: absolute;
    top: 403vh;
    width: 100%;
    height: 90vh;
    background-image: url("../Images/email_icon.png");
    background-position: center;
    background-position-y: 7vh;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 3vh;
}
#questions_tag{
    color: #EDB000;
    position: relative;
    top: 22vh;
    font-size: 5vh;
    font-weight: 900;
}
#question_box{
    width: 60%;
    position: relative;
    top: 25vh;
    left: 20%;
    font-family: 'Teko', sans-serif;
}
.question_boxes{
    height: 7vh;
}
#send_question{
    font-size: 4vh;
    background-color: #bb8b00;
    color: white;
    width: 30%;
}
#send_question:hover{
    background-color: #232323;
    color:#bb8b00;
}
#the_question{
    height: 18vh;
    font-size: 3vh;
}

/* -------------FOOTER STYLINGS-------------- */

#footer, #booking_footer{
    background-color: #232323;
    position: absolute;
    text-align: center;
    height: 23vh;
    width: 100%;
    top: 500vh;
}
#booking_footer{
    top: 160vh;
}
#footer_logo{
    position: absolute;
    height: 8vh;
    width: 16vh;
    left: 1px;
    top: 8vh;
}
#by{
    position: absolute;
    color: white;
    width: 8vw;
    height: 8vh;
    left: 90vw;
    top: 10vh;
    font-size: 0.7vw;
}
#copyright{
    position: relative;
    width: 30%;
    left: 35%;
    top: 4vh;
    text-align: center;
    color: gray;
    font-family: 'Teko', sans-serif;
    font-size: 2vh;
    font-weight: 500;
}

/*--------------------------- Thanks for oderding page -------------------------- */

#thanks{
    height: 30vh;
    width: 100%;
    text-align: center;
    vertical-align:middle;
    background-color: #bb8b00;
    position: absolute;
    top: 40vh;
    left: 0;
    opacity: 0.9;
}
#thnx_note{
    top: 2vh;
    color: #232323;
    padding-top: 2.5%;
    font-family: 'Teko', sans-serif;
}
/* ------------------------ Booking Page Styling -----------------------*/
#book{
    position: absolute;
    top: 40vh;
    background-color: #bb8b00;
    color: #232323;
    height: 10vh;
    width: 70vw;
    margin-left: 15%;
    font-size: 3.5vw;
}
#info_table{
    background-color: #232323;
    width: 70vw;
    margin-left: 15%;
    padding: 20px 25px;
    position: absolute;
    top: 50vh;
    color: #EDB000;
    font-weight: 900;
    opacity: 0.85;
    font-family: 'Teko', sans-serif;
    font-size: 1.3vw;
}
input[type=text], select, textarea {
    width: 55vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background-color: #bb8b00;
    color:white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type=submit]:hover{
    background-color: darkslategray;
    color: #EDB000;
}
label {
    position: relative;
    margin: 3vh;
}

/* ------------------------- Appointment Page Stylings --------------------------------- */
#appointment_div{
    position: absolute;
    top: 20vh;
    color: #bb8b00;
    font-size: 20px;
    font-family: cooper black;
    width: 99%;
    opacity: 0.90;
}
.data{
    text-align: left;
    border-bottom: 1px solid #bb8b00;
    word-break: break-word;
}
.appointment_cards{
    position: relative;
    margin-top: 1vh;
    top: 5vh;
    left: 15vw;
    width: 70vw;
    background-color: #232323;
}
.customer_name{
    background-color: #bb8b00;
    color: #232323;
    width: 100%;
    text-align: center;
    border-color: #232323;
}
.label{
    background-color: #bb8b00;
    color: #232323;
    width: 20vw;
}
/* ----------------------------- Login Page Stylings ---------------------------------*/

#credentials{
    position: absolute;
    top: 30vh;
    width: 50vw;
    margin-left: 25vw;
    font-family: cooper black;
    font-size: 4vh;
    color: #bb8b00;
}
#pass{
    width: 100%;
}


/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/* ------------------------------ Styles For Phones ----------------------------------- */
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

@media only screen and (max-device-width: 490px){
   /* ----------------------Navbar Styling---------------------- */
    #nav_bar{
        width: 100vw;
    }
    #nav_table{
        width: 100vw;
    }
    .nav_items{
        font-size: 17px;
        padding: 2.5vh;
        padding-top: 3.5vh;
    }
    /* ------------------------- AutoMo Logo ---------------------------------- */
    #AutoMo, #AutoMo2{
        width: 100vw;
        margin-left: 0vw;
        top: 10vh;
    }
    #tagline{
        top: 35vh;
        width: 90vw;
        margin-left: 5vw;
        font-size: 150%;
    }
    #job-slide{
        top: 55vh;
    }
    /* ---------------------Services Styling----------------------- */
    #service_tag{
        top: 4vh;
        font-size: 15vw;
    }
    #synthetic_oil{
        top: 55vh;
    }
    #synthetic_oil_eu{
        top: 93vh;
    }
    #reg_oil2{
        top: 131vh;
    }
    #synthetic_oil2{
        top: 169vh;
    }
    #synthetic_oil_eu2{
        top: 207vh;
    }
    #reg_oil3{
        top: 245vh;
    }
    #synthetic_oil3{
        top: 283vh;
    }
    #synthetic_oil_eu3{
        top: 321vh;
    }
    #reg_oil4{
        top: 359vh;
    }
    #synthetic_oil4{
        top: 397vh;
    }
    #synthetic_oil_eu4{
        top: 435vh;
    }
    .services, .second_services, .third_services, .fourth_services{
        width: 80vw;
        height: 35vh;
        top: 17vh;
        left: 10vw;
    }
    #synthetic_oil, #synthetic_oil_eu,  #reg_oil2, #synthetic_oil2, #synthetic_oil_eu2, #reg_oil3, #synthetic_oil3, #synthetic_oil_eu3,  #reg_oil4, #synthetic_oil4, #synthetic_oil_eu4{
        left: 10vw;
    }
    .service_name{
        font-size: 185%;
    }
    .service_big_name{
        font-size: 140%;
    }
    .service_description{
        font-size: 125%;
    }
    .coming_soon{
        width: 50%;
        left: 25%;
    }
    
    
    /* ---------------ABOUT SECTION STYLING------------ */
    #about_section{
        position: absolute;
        width: 100%;
        height: 130vh;
        top: 590vh;
    }
    #about_tag{
        top: 0;
        color: #EDB000;
    }
    .about{
        top: -3vh;
        height: 60vh;
        width: 100%;
    }
    #right_about{
        margin-left: 0%;
        background-color: #bb8b00;
        border-left-style: none;
        z-index: 1;
    }
    #headline{
        color: white;
        font-size: 250%;
    }
    #about_para{
        top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
        line-height: 3vh;
    }
    #about_text{
        color: #232323;
        top: 5vh;
        font-size: 125%;
        line-height: 3vh;
    }
    #phone_number{
        color: white;
        font-size: 150%;
        line-height: 3vh;
    }
    #secret{ color: white; cursor: text;}
    #secret:hover{ color: white; cursor: text;}
    #secret:visited{ color: white; cursor: text;}
    
    #left_about{
        top: 55vh;
        z-index: 0;
        height: 85vh;
        background-size: 160%;
        background-position-x: center;
        background-position-y: 29vh;
    }
    #instatext2{
        width: 85vw;
        left: 7.5vw;
    }
    #instatext3{
        font-size: 4vh;
        color: #EDB000;
        font-weight: 500;
    }

    /* -------------Questions STYLINGS-------------- */

    #questions{
        top: 740vh;
        height: 80vh;
    }
    #question_box{
        width: 100vw;
        left: 0vw;
    }
    .question_boxes{
        height: 5vh;
        width: 90vw;
    }
    #send_question{
        font-size: 3vh;
        background-color: #bb8b00;
        color: white;
        width: 30%;
    }
    input{
        width: 90vw;
    }
    #the_question{
        height: 18vh;
        font-size: 3vh;
    }
    #question_name, #question_email{
        width: 90vw;
    }
    /* -------------FOOTER STYLINGS-------------- */
    #footer, #booking_footer{
        width: 100%;
        top: 820vh;
        height: 40vh;
    }
    #booking_footer{
        top: 120vh;
    }
    #footer_logo{
        left: 35vw;
        width: 30vw;
        top: 31vh;
    }
    #by{
        width: 30vw;
        left: 35vw;
        top: 25vh;
        color: gray;
        font-size: 3vw;
    }
    #copyright{
        width: 90vw;
        left: 5vw;
    }
    /* ------------------------ Booking Page Styling -----------------------*/
    #AutoMo2{
        top: 3vh;
    }
    #book{
        top: 22vh;
        height: 6vh;
        width: 100vw;
        margin-left: 0%;
        font-size: 150%;
        padding-top: 1.8%;
    }
    #info_table{
        width: 100vw;
        margin-left: 0%;
        padding: 2% 0%;
        top: 28vh;
        font-size: 90%;
    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px 25px;
    }
    input[type=submit]{
        width: 100%;
        margin: 0 0;
        font-size: 150%;
    }
    label {
        position: relative;
        margin: 2vh;
        font-size: 120%;
    }
    /*--------------------------- Thanks for oderding page -------------------------- */
    #thanks{
        height: 50vh;
        top: 30vh;
    }
    #thnx_note{
        top: -2vh;
    }
    /* ------------------------- Appointment Page Stylings ---------------------------------*/
    #appointment_div{
        font-size: 10px;
        top: 10vh;
    }
    .appointment_cards{
        left: 5vw;
        width: 90vw;
    }
}


/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/* ------------------------------ Styles For Tablets ---------------------------------- */
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

@media (min-width: 768px) and (max-width: 1024px) {
    /* ----------------------Navbar Styling---------------------- */
    #nav_bar{
        width: 100vw;
    }
    #nav_table{
        width: 100vw;
    }
    .nav_items{
        font-size: 250%;
    }
    /* ------------------------- AutoMo Logo ---------------------------------- */
    #AutoMo{
        width: 100vw;
        margin-left: 0vw;
        top: 3vh;
    }
    #tagline{
        top: 30vh;
        margin-left: 0vw;
    }
    /* ---------------------Services Styling----------------------- */
    #service_tag{
        top: 2vh;
        font-size: 8vw;
    }
    #synthetic_oil{
        top: 55vh;
    }
    #synthetic_oil_eu{
        top: 93vh;
    }
    #reg_oil2{
        top: 131vh;
    }
    #synthetic_oil2{
        top: 169vh;
    }
    #synthetic_oil_eu2{
        top: 207vh;
    }
    #reg_oil3{
        top: 245vh;
    }
    #synthetic_oil3{
        top: 283vh;
    }
    #synthetic_oil_eu3{
        top: 321vh;
    }
    #reg_oil4{
        top: 359vh;
    }
    #synthetic_oil4{
        top: 397vh;
    }
    #synthetic_oil_eu4{
        top: 435vh;
    }
    .services, .second_services, .third_services, .fourth_services{
        width: 80vw;
        height: 35vh;
        top: 17vh;
        left: 10vw;
    }
    #synthetic_oil, #synthetic_oil_eu,  #reg_oil2, #synthetic_oil2, #synthetic_oil_eu2, #reg_oil3, #synthetic_oil3, #synthetic_oil_eu3,  #reg_oil4, #synthetic_oil4, #synthetic_oil_eu4{
        left: 10vw;
    }
    .service_name{
        font-size: 450%;
    }
    .service_big_name{
        font-size: 350%;
    }
    .service_price{
        font-size: 450%;
    }
    .service_description{
        font-size: 225%;
    }
    .coming_soon{
        width: 50%;
        left: 25%;
        text-align: center;
    }
    .service_book{
        font-size: 220%;
        height: 10%;
    }
    /* ---------------ABOUT SECTION STYLING------------ */
    #about_section{
        top: 590vh;
    }
    #about_tag{
        font-size: 8vw;
    }
    .about{
        height: 60vh;
        width: 100%;
    }
    #right_about{
        margin-left: 0%;
        background-color: #bb8b00;
        border-left-style: none;
    }
    #headline{
        color: white;
        font-size: 300%;
    }
    #about_para{
        top: 12%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 200%;
        line-height: 5vh;
    }
    #about_text{
        color: #232323;
        top: 5vh;
        font-size: 125%;
        line-height: 4vh;
    }
    #phone_number{
        color: white;
        font-size: 150%;
        line-height: 3vh;
    }
    #secret{ color: white; cursor: text;}
    #secret:hover{ color: white; cursor: text;}
    #secret:visited{ color: white; cursor: text;}

    #left_about{
        top: 58vh;
        z-index: 0;
        height: 85vh;
        background-position-y: 31vh;
    }
    #instatext2{
        line-height: 5vh;
    }

    /* -------------Questions STYLINGS-------------- */

    #questions{
        top: 745vh;
    }
    #question_box{
        width: 100vw;
        left: 0vw;
    }
    .question_boxes{
        height: 5vh;
        width: 90vw;
    }
    #send_question{
        font-size: 3vh;
        background-color: #bb8b00;
        color: white;
        width: 30%;
        left: 35%;
        top: 100%;
        height: vh;
    }
    input{
        width: 90vw;
    }
    #the_question{
        height: 18vh;
        font-size: 3vh;
    }
    #question_name, #question_email{
        width: 90vw;
    }
    /* -------------FOOTER STYLINGS-------------- */
    #footer, #booking_footer{
        width: 100%;
        top: 820vh;
        height: 43vh;
    }
    #booking_footer{
        top: 110vh;
    }
    #footer_logo{
        left: 40vw;
        width: 20vw;
        top: 35vh;
    }
    #by{
        width: 30vw;
        left: 35vw;
        top: 25vh;
        color: gray;
        font-size: 2vw;
    }
    #copyright{
        width: 90vw;
        left: 5vw;
    }
    /* ------------------------ Booking Page Styling -----------------------*/
    #AutoMo2{
        top: 3vh;
    }
    #book{
        top: 25vh;
        height: 6vh;
        width: 80vw;
        margin-left: 10%;
        font-size: 150%;
        padding-top: 1.8%;
    }
    #info_table{
        width: 80vw;
        margin-left: 10%;
        padding: 2% 0%;
        top: 31vh;
        height: 60vh;
    }
    input[type=text], select, textarea {
        width: 210%;
        padding: 12px 25px;
        font-size: 150%;
    }
    input[type=submit]{
        position: absolute;
        width: 100%;
        margin: 0 0;
        font-size: 150%;
        bottom: 0%;
    }
    label {
        position: relative;
        margin: 2vh;
        font-size: 150%;
    }
    /*--------------------------- Thanks for oderding page -------------------------- */
    #thanks{
        height: 50vh;
        top: 30vh;
    }
    #thnx_note{
        top: -2vh;
    }
    /* ------------------------- Appointment Page Stylings ---------------------------------*/
    #appointment_div{
        font-size: 20px;
        top: 10vh;
    }
    .appointment_cards{
        left: 5vw;
        width: 90vw;
    }
}


/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/* ------------------------------ Styles For Landscape Mode --------------------------- */
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* ----------------------Navbar Styling---------------------- */
    #nav_bar{
        width: 100vw;
        height: 15vh;
    }
    #nav_table{
        width: 100vw;
    }
    .nav_items{
        font-size: 17px;
        padding: 2.5vh;
        padding-top: 3.5vh;
    }
    /* ------------------------- AutoMo Logo ---------------------------------- */
    #AutoMo, #AutoMo2{
        width: 100vw;
        margin-left: 0vw;
        top: -20vh;
    }
    #tagline{
        top: 70vh;
        width: 90vw;
        margin-left: 5vw;
        font-size: 150%;
    }
    #job-slide{
        top: 90vh;
    }
    /* ---------------------Services Styling----------------------- */
    #service_tag{
        top: 35vh;
        font-size: 8vw;
    }
    #reg_oil{
        top: 75vh;
    }
    #synthetic_oil{
        top: 205vh;
    }
    #synthetic_oil_eu{
        top: 335vh;
    }
    #reg_oil2{
        top: 465vh;
    }
    #synthetic_oil2{
        top: 595vh;
    }
    #synthetic_oil_eu2{
        top: 725vh;
    }
    #reg_oil3{
        top: 855vh;
    }
    #synthetic_oil3{
        top: 985vh;
    }
    #synthetic_oil_eu3{
        top: 1115vh;
    }
    #reg_oil4{
        top: 1245vh;
    }
    #synthetic_oil4{
        top: 1375vh;
    }
    #synthetic_oil_eu4{
        top: 1505vh;
    }
    .services, .second_services, .third_services, .fourth_services{
        width: 60vw;
        height: 120vh;
        top: 17vh;
        left: 20vw;
    }
    #synthetic_oil, #synthetic_oil_eu,  #reg_oil2, #synthetic_oil2, #synthetic_oil_eu2, #reg_oil3, #synthetic_oil3, #synthetic_oil_eu3,  #reg_oil4, #synthetic_oil4, #synthetic_oil_eu4{
        left: 20vw;
    }
    .service_name{
        font-size: 185%;
    }
    .service_big_name{
        font-size: 140%;
    }
    .service_description{
        font-size: 125%;
    }
    .coming_soon{
        width: 50%;
        left: 25%;
    }
    .service_book{
        font-size: 200%;
        height: 13%;
    }
    
    /* ---------------ABOUT SECTION STYLING------------ */
    #about_section{
        position: absolute;
        width: 100%;
        height: 130vh;
        top: 1750vh;
    }
    #about_tag{
        top: 0;
        color: #EDB000;
    }
    .about{
        top: 25vh;
        height: 60vh;
        width: 100%;
    }
    #right_about{
        margin-left: 0%;
        background-color: #bb8b00;
        border-left-style: none;
        z-index: 1;
        height: 90vh;
    }
    #headline{
        color: white;
        font-size: 250%;
    }
    #about_para{
        top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
        line-height: 100%;
    }
    #about_text{
        color: #232323;
        top: 5vh;
        font-size: 125%;
        line-height: 100%;
    }
    #phone_number{
        color: white;
        font-size: 150%;
        line-height: 3vh;
    }
    #secret{ color: white; cursor: text;}
    #secret:hover{ color: white; cursor: text;}
    #secret:visited{ color: white; cursor: text;}
    
    #left_about{
        top: 115vh;
        z-index: 0;
        height: 100vh;
        background-size: 50%;
        background-position-x: 0vw;
        background-position-y: 10vh;
    }
    .instatext{
        font-size: 250%;
        left: 43%;
        width: 50%;
        top: 45%;
    }
    #instatext2{
        font-size: 150%;
        width: 85vw;
        left: 25%;
    }
    #instatext3{
        font-size: 4vh;
        color: #EDB000;
        font-weight: 500;
    }

    /* -------------Questions STYLINGS-------------- */

    #questions{
        top: 1980vh;
        height: 80vh;
    }
    #question_box{
        width: 100vw;
        left: 0vw;
        top: 65%;
    }
    #questions_tag{
        top: 55%;
    }
    .question_boxes{
        height: 5vh;
        width: 90vw;
    }
    #send_question{
        font-size: 200%;
        background-color: #bb8b00;
        color: white;
        width: 30%;
        height: 15vh;
    }
    input{
        width: 90vw;
    }
    #the_question{
        height: 18vh;
        font-size: 3vh;
    }
    #question_name, #question_email{
        width: 90vw;
    }
    /* -------------FOOTER STYLINGS-------------- */
    #footer, #booking_footer{
        width: 100%;
        top: 2120vh;
        height: 100vh;
    }
    #booking_footer{
        top: 420vh;
    }
    #footer_logo{
        left: 40vw;
        width: 20vw;
        height: 40vh;
        top: 55vh;
    }
    #by{
        width: 30vw;
        height: 15vh;
        left: 35vw;
        top: 45vh;
        color: gray;
        font-size: 65%;
    }
    #copyright{
        width: 90vw;
        left: 5vw;
        font-size: 100%;
    }
    /* ------------------------ Booking Page Styling -----------------------*/
    #AutoMo2{
        top: -25vh;
    }
    #book{
        top: 70vh;
        height: 23vh;
        width: 80vw;
        margin-left: 10%;
        font-size: 150%;
        padding-top: 1.8%;
    }
    #info_table{
        width: 80vw;
        margin-left: 10%;
        padding: 2% 0%;
        top: 93vh;
        font-size: 90%;
        height: auto;
    }
    input[type=text], select, textarea {
        width: 175%;
        padding: 12px 25px;
    }
    input[type=submit]{
        position: relative;
        width: 100%;
        margin: 0 0;
        font-size: 150%;
        top: 5vh;
    }
    label {
        position: relative;
        margin: 2vh;
        font-size: 120%;
    }
    /*--------------------------- Thanks for oderding page -------------------------- */
    #thanks{
        height: 50vh;
        top: 30vh;
    }
    #thnx_note{
        top: -2vh;
    }
    /* ------------------------- Appointment Page Stylings ---------------------------------*/
    #appointment_div{
        font-size: 10px;
        top: 10vh;
    }
    .appointment_cards{
        left: 5vw;
        width: 90vw;
    }
}